body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    background-color: #ffd700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.display {
    background-color: #eee;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    text-align: right;
    font-size: 36px;
    color: #333;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

button {
    border: none;
    background-color: #f0f0f0;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d0d0d0;
}

.clear {
    background-color: #ff6347;
    color: #fff;
}

.operator {
    background-color: #4b0082;
    color: #fff;
}

.zero {
    grid-column: span 2;
}

#equals{
    grid-column: span 3;
}
